html {
  font-size: 20px;
  font-family: monospace;
  background-color: orange;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  width: min(50em, 100%);
  height: min(25em, 100vh);
  margin: 0 auto;
  display: grid;
  grid-template-rows: 0fr 0fr 1fr;
}

h1 {
  margin: 0;
}

.text {
  background: black;
  height: 5em;
  line-height: 1.6;
  color: lightgrey;
  overflow: hidden;
}

.text .correctLetter {
  background-color: green;
  color: white;
}

.text .incorrectLetter {
  background-color: red;
  color: white;
}

.text .additional {
  color: red;
}

.text .currentLetter {
  background-color: white;
  color: black;
}

.keyboard {
  background: gray;
  color: white;
  font-size: 10em;
}
